@import "../../../fonts.scss";
@import "../../../variables.scss";

footer{
    font-family: 'Play', sans-serif;
    font-size: $smallFontsize;
}
.footer-cols {
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding-bottom:10px;
}
.footer-col-title{
    color: $headingDarkColor;
    font-family: 'Abril Fatface','Times New Roman', serif;
    font-weight: 400;
    font-size: 3.02vw;
    margin-bottom: 35px;
}



.footer-col.news{
    padding: 0 30px 0 40px;
}
.footer-news .news-card {
    border-bottom: 1px solid #2a2a2a;
    padding-bottom: 25px;
}
.footer-news div:nth-last-of-type(2){
    border-bottom: none;
    padding-bottom: 0px;
}





.footer-col.menu{
    padding-left: 20px;
}
.menu .footer-col-title{
    padding-left: 15px;
}
.footer-menu-link{
    background-color: transparent;
    color: #999;
    margin-bottom: 2px;
}
.link-btn.footer-menu-link:hover, .active{
  color: #000;
  background: $mainLightColor;
}



.contacts-links, .footer-logo-container{
    width: 100%;
    margin-top: 130px;
    background: #0b0b0b;
    padding: 0 1.56vw;
    height: 270px;
}


.footer-logo-container{
    background: #171717;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.footer-logo-image{
    width: 150px;
    display: inline-block;
    margin-bottom: 15px;
}
.footer-logo-image.mb-logo {
    width: 80px;
    margin-bottom: 30px;
}
.all-rights{
    color: $mainDarkColor;
}

.footer-bottom{
    padding: 10px 0 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    font-size: 12px;
}
.footer-bottom-image-container a{
    width: 78px;
    display: block;
    margin: auto;
}
.footer-bottom-image{
    width: 100%;
    margin-bottom: 10px;
}
.footer-center-text{
    text-align: center;
    color: #7b7b7b;
}
.footer-left-text, .footer-right-text{
    color: $mainDarkColor;
}


@media screen and (max-width: $desktop-S) and (min-width: 1024px) {
    
    .footer-col.news {
        padding-left: 0;
        padding-right: 10px;
        font-size: 13px;
    }
    .contacts-links-item {
        padding: 20px 0;
    }
    .contacts-link-text {
        font-size: 12px;
    }
}

@media screen and (max-width: $tablet-L)  {
    
    .footer-col {
        width: 50%;
    }
    .contacts-links, 
    .footer-logo-container {
        margin-top: 0px;
    }
    .footer-col-title {
        font-size: 5.3vw;
    }
}

@media screen and (max-width: $mobile-L) {
  
    .footer-col {
        width: 100%;
    }
    .footer-col-title {
        font-size: 50px;
        margin-bottom: 0px;
    }
    .footer-col.news {
        padding: 0 25px;
        margin-bottom: 20px;
    }
    .footer-bottom-image-container {
        width: 100%;
        order: 0;
        margin-bottom: 20px;
    }
    .footer-text-container {
        width: 50%;
        order: 1;
    }
    .footer-text-container.right {
        text-align: right;
    }
    .footer-links-container {
        display: flex;
        flex-wrap: wrap;
    }
    .footer-links-container li {
        display: flex;
        width: 50%;
    }
    .footer-menu-link {
        padding: 12px 10px;
        text-align: left;
    }
}