<footer class="main-content-block">
    <div class="footer-cols">
        <div class="footer-col news">
            <h4 class="footer-col-title">News</h4>
            <div class="footer-news">
                <div class="news-card">
                    <span class="news-card-date">{{ news[0]?.date.toDate() | date: 'dd.MM' }}</span>
                    <div class="news-card-content">
                        <p class="news-card-text">
                            {{ news[0]?.annotation }}
                        </p>
                        <a class="btn-line">
                            <span class="line"></span>
                            <span class="btn-line-text">Learn more</span>
                        </a>
                    </div>
                </div>
                <div class="news-card">
                    <span class="news-card-date">{{ news[1]?.date.toDate() | date: 'dd.MM' }}</span>
                    <div class="news-card-content">
                        <p class="news-card-text">
                            {{ news[1]?.annotation }}
                        </p>
                        <a class="btn-line">
                            <span class="line"></span>
                            <span class="btn-line-text">Learn more</span>
                        </a>
                    </div>
                </div>
                <div class="news-btn">
                    <a class="link-btn" [routerLink]="[ '/news' ]">View all</a>
                </div>
            </div>
        </div>

        <div class="footer-col menu">
            <h4 class="footer-col-title">Menu</h4>
            <nav class="footer-menu">
                <ul class="footer-links-container">
                    <li>
                        <a class="link-btn footer-menu-link" [routerLink]="[ '/home' ]">
                            Home
                        </a>
                    </li>
                    <li>
                        <a class="link-btn footer-menu-link" [routerLink]="[ '/brands' ]">
                            Wine &amp; Spirits
                        </a>
                    </li>
                    <li>
                        <a class="link-btn footer-menu-link">
                            History
                        </a>
                    </li>
                    <li>
                        <a class="link-btn footer-menu-link" [routerLink]="[ '/about' ]">
                            About
                        </a>
                    </li>
                    <li>
                        <a class="link-btn footer-menu-link">
                            Region &amp; Wine
                        </a>
                    </li>
                    <li>
                        <a class="link-btn footer-menu-link">
                            Recipes
                        </a>
                    </li>
                    <li>
                        <a class="link-btn footer-menu-link">
                            Wine &amp; Lifestyle
                        </a>
                    </li>
                    <li>
                        <a class="link-btn footer-menu-link" [routerLink]="[ '/contacts' ]">
                            Contacts
                        </a>
                    </li>
                    <li>
                        <a class="link-btn footer-menu-link">
                            Terms &amp; Conditions
                        </a>
                    </li>
                    <li>
                        <a class="link-btn footer-menu-link">
                            Cookie Policy
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="footer-col contacts">
            <div class="contacts-links">
                <div class="contacts-links-item">
                    <a href="tel:+35924899450">
                        <p class="link-image-wrap">
                            <img src="../../../assets/images/footer-phone.svg" alt="icon" class="contacts-link-image">
                        </p>
                        <span class="link-text-wrap">
                            <span class="small-text">+359</span> 24899450
                        </span>
                    </a>
                </div>
                <div class="contacts-links-item">
                    <a href="mailto:office.bulgaria@mbws.com">
                        <p class="link-image-wrap">
                            <img src="../../../assets/images/footer-mail.svg" alt="icon" class="contacts-link-image">
                        </p>
                        <span class="link-text-wrap small-text">
                            office.bulgaria@mbws.com
                        </span>
                    </a>
                </div>
                <div class="contacts-links-item">
                    <a href="https://www.google.com/maps/place/%D0%91%D0%B8%D0%B7%D0%BD%D0%B5%D1%81+%D0%BF%D0%B0%D1%80%D0%BA/@42.626886,23.377104,15z/data=!4m5!3m4!1s0x0:0xa99a6079f95e99ad!8m2!3d42.6277378!4d23.3744328?hl=bg"
                        target="_blank">
                        <p class="link-image-wrap">
                            <img src="../../../assets/images/footer-pin.svg" alt="icon" class="contacts-link-image">
                        </p>
                        <span class="link-text-wrap small-text">
                            Address: Sofia, “Mladost” 4, Business park
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="footer-col footer-logo">
            <div class="footer-logo-container">
                <a href="http://en.mbws.com/" class="footer-logo-item" target="_blank">
                    <img src="../../../assets/images/footer-logo-mb.png" alt="logo" class="footer-logo-image mb-logo">
                </a>
                <a class="footer-logo-item">
                    <img src="../../../assets/images/menada-logo.png" alt="logo" class="footer-logo-image">
                </a>
                <div class="footer-logo-item">
                    <span class="all-rights">All rights reserved</span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-text-container">
            <p class="footer-left-text">
                Copyright ® 2020
            </p>
        </div>
        <div class="footer-bottom-image-container">
            <a href="http://info-calories-alcool.org/" target="_blank">
                <img src="../../../assets/images/info-calories.png" alt="Info Calories logo"
                    class="footer-bottom-image">
            </a>
            <p class="footer-center-text">
                Alcohol abuse results in harm to your health. <br>
                Enjoy in moderation.
            </p>
        </div>
        <div class="footer-text-container right">
            <a href="https://edesigninteractive.com/" class="footer-right-text" target="_blank">
                Web design: eDesign
            </a>
        </div>
    </div>
</footer>