<header class="main-content-block">
    <div class="header-logo">
        <a [routerLink]="[ '/home' ]">
            <img src="../../../assets/images/menada-logo.png" alt="logo" class="header-logo-image">
        </a>
    </div>
    <div class="header-panel">

        <div class="header-item basket" [routerLink]="[ '/basket' ]">
            <a class="basket-link">
                <img src="../../../assets/images/wine-barrel.svg" class="header-item-image">
                <span class="header-item-label">Order</span>
                <span class="basket-label" *ngIf="basketLabel">{{ labelText }}</span>
            </a>
        </div>

        <div class="header-item login" [routerLink]="[ '/login' ]" *ngIf="!loginedStatus">
            <a class="login-link">
                <img src="../../../assets/images/wine-tasting.svg" class="header-item-image">
                <span class="header-item-label">Login</span>
            </a>
        </div>
        <div class="header-item login" [routerLink]="[ '/' + urlName]" *ngIf="loginedStatus">
            <a class="cabinet-link">
                <img src="../../../assets/images/wine-arm-empty.svg" class="header-item-image cabinet-image"
                    *ngIf="menuName === 'cabinet'">
                <img src="../../../assets/images/admin-avatar.svg" class="header-item-image"
                    *ngIf="menuName === 'admin'">
                <span class="header-item-label">{{ menuName | titlecase }}</span>
            </a>
        </div>

        <div class="header-menu d-flex" (click)="menuActivate()">
            <div class="header-menu-text">
                <span class="header-menu-text">Menu</span>
            </div>
            <div class="grape-icon">
                <div class="grape-line">
                    <span class="grape-dot hide-dot"></span>
                    <span class="grape-dot"></span>
                    <span class="grape-dot hide-dot"></span>
                </div>
                <div class="grape-line">
                    <span class="grape-dot"></span>
                    <span class="grape-dot"></span>
                    <span class="grape-dot hidden-dot"></span>
                </div>
                <div class="grape-line">
                    <span class="grape-dot"></span>
                </div>
            </div>
        </div>
    </div>

</header>

<section class="menu" *ngIf="menuActive">

    <div class="menu-container">
        <div class="menu-up-level">
            <div class="item-category menu-tcherga" [routerLink]="[ '/brands/tcherga' ]" (click)="closeMenu()">
                <img src="../../../assets/images/tcherga-black-logo.svg" alt="tcherga" class="menu-brand-logo">
                <img src="../../../assets/images/tcherga-bottles.png" alt="tcherga" class="menu-brand-bg">
            </div>
            <div class="item-category menu-menada" [routerLink]="[ '/brands/menada' ]" (click)="closeMenu()">
                <img src="../../../assets/images/menada-black-logo.svg" alt="menada" class="menu-brand-logo">
                <img src="../../../assets/images/menada-bottles.png" alt="menada" class="menu-brand-bg">
            </div>
            <div class="item-category menu-inovino" [routerLink]="[ '/brands/inovino' ]" (click)="closeMenu()">
                <img src="../../../assets/images/inovino-logo-black.svg" alt="inovino" class="menu-brand-logo">
                <img src="../../../assets/images/inovino-bottles.png" alt="inovino" class="menu-brand-bg">
            </div>
            <div class="item-category menu-artistique" [routerLink]="[ '/brands/artistique' ]" (click)="closeMenu()">
                <img src="../../../assets/images/artistique-black-logo.svg" alt="artistique" class="menu-brand-logo">
                <img src="../../../assets/images/artist-bottles.png" alt="artistique" class="menu-brand-bg">
            </div>
        </div>
        <div class="menu-down-level">
            <div class="item menu-products" [routerLink]="[ '/brands']" (click)="closeMenu()">
                <h3 class="menu-title">Other products</h3>
            </div>
            <div class="item menu-home" [routerLink]="[ '/home']" (click)="closeMenu()">
                <h3 class="menu-title">Home</h3>
            </div>
            <div class="item menu-news" [routerLink]="[ '/news']" (click)="closeMenu()">
                <h3 class="menu-title">News</h3>
            </div>
            <div class="item menu-recipes" [routerLink]="[ '/recipes']" (click)="closeMenu()">
                <h3 class="menu-title">
                    <span class="small-title">Our</span><br>
                    <span>Recipes</span>
                </h3>
            </div>
        </div>
        <div class="return-button" (click)="menuActivate()">
            <a>Come back</a>
        </div>
    </div>

</section>