<header class="main-content-block">
    <div>
        <a>
            <img src="../../../assets/images/menada-logo.png" alt="logo" class="header-logo-image">
        </a>
    </div>
    <div class="header-menu d-flex">
        <div class="header-menu-text">
            <span class="header-menu-text">Menu</span>
        </div>
        <div class="grape-icon">
            <div class="grape-line">
                <span class="grape-dot hide-dot"></span>
                <span class="grape-dot"></span>
                <span class="grape-dot hide-dot"></span>
            </div>
            <div class="grape-line">
                <span class="grape-dot"></span>
                <span class="grape-dot"></span>
                <span class="grape-dot hidden-dot"></span>
            </div>
            <div class="grape-line">
                <span class="grape-dot"></span>
            </div>
        </div>
    </div>
</header>

