@import "../../../fonts.scss";
@import "../../../variables.scss";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 120px;
  padding: 30px;
  position: relative;
  z-index: 20;
}
.header-logo-image {
  width: 150px;
}
.header-panel {
  display: flex;
  align-items: center;
}

.header-item {
  position: relative;
  margin: 0 5vw 0 0;
  cursor: pointer;
}
.header-item-image {
  width: 40px;
  height: 40px;
}
.header-item-label {
  display: inline-block;
  @include play-small-text;
  color: $mainDarkColor;
  font-size: 12px;
  letter-spacing: 3px;
  @include rotated-item;
  bottom: 15px;
  left: -34px;
  text-align: left;
}
.basket-label {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #ce0d0d;
  color: #fff;
  position: absolute;
  top: -6px;
  right: -4px;
  line-height: 20px;
  text-align: center;
  font-size: 13px;
}
.cabinet-image {
  margin-left: 9px;
}

.header-menu-text {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: Play, sans-serif;
}
.grape-icon {
  margin-left: 8px;
}
.grape-line {
  margin: -1px;
  line-height: 5px;
  text-align: center;
}
.grape-dot {
  display: inline-block;
  background: $mainLightColor;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  margin-right: 1px;
  margin-bottom: 1px;
}
.hidden-dot {
  display: none;
}
.header-menu:hover .hidden-dot {
  display: inline-block;
}
.header-menu:hover .hide-dot {
  display: none;
}

.menu {
  width: 100%;
  height: 100%;
  background-color: $lightBlockColor;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 20;
}
.return-button {
  position: absolute;
  top: 2vw;
  right: 2vw;
  font-size: 18px;
  letter-spacing: 2px;
  color: $mainLightColor;
  text-decoration: underline;
  cursor: pointer;
}
.menu-container {
  width: 85%;
  height: 100%;
  margin: auto;
  overflow: auto;
  padding: 3vw 0 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../../../assets/images/region-video-bg.png);
  @include bg-center;
  background-position: center left;
}
.menu-container::-webkit-scrollbar {
  width: 0;
}
.menu-up-level,
.menu-down-level {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.menu-up-level {
  justify-content: center;
}
.menu-down-level {
  align-items: flex-end;
}

.item {
  @include bg-center;
  box-shadow: 0 0 15px #101010;
}
.item-category {
  background-color: white;
  width: 20%;
  height: 17vw;
  box-shadow: 0 0 20px #000;
  position: relative;
}
.item-category:nth-child(odd) {
  margin-top: 6vw;
}
.menu-brand-logo {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 66%;
}
.menu-brand-bg {
  width: 57%;
  position: absolute;
  bottom: 0;
  right: 0;
}


.menu-title {
  @include abril-maincolor-text;
}
.menu-products {
  background-image: url(../../../assets/images/product-large-bottom-bg.jpg);
  background-position: center left;
  width: 30vw;
  height: 23vh;
}
.menu-products .menu-title {
  color: black;
  font-size: 27px;
  padding: 1.5vw;
}
.menu-home {
  background-image: url(../../../assets/images/menu-home-bg.jpg);
  width: 28vw;
  height: 33vh;
  margin-left: -3vw;
  margin-bottom: 1vw;
}
.menu-home .menu-title {
  font-size: 40px;
  padding: 6vw 5vw;
}
.menu-news {
  background-image: url(../../../assets/images/menu-news-bg.jpg);
  width: 20vw;
  height: 20vh;
  margin-left: -7vw;
  margin-bottom: 0.5vw;
  @include item-centred;
  z-index: 2;
}
.menu-news .menu-title {
  font-size: 28px;
  color: silver;
}
.menu-recipes {
  background-image: url(../../../assets/images/menu-recipes-bg.jpg);
  width: 20vw;
  height: 32vh;
  margin-left: -5vw;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menu-recipes .menu-title {
  font-size: 31px;
  padding: 0 2vw;
}
.small-title {
  font-size: 25px;
  color: silver;
}





@media screen and (max-width: $tablet-L) {
  .menu-container {
    padding: 5vw 0 5vw;
  }
  .menu-up-level {
    justify-content: space-around;
  }
  .item-category {
    width: 45%;
  }
  .menu-brand-bg {
    width: 34%;
  }
  .menu-brand-logo {
    top: 20%;
    width: 55%;
  }
  .item {
    width: 50%;
  }
  .menu-down-level {
    margin-top: 5vw;
  }
  .menu-products,
  .menu-home,
  .menu-news,
  .menu-recipes {
    height: 24vh;
    margin: 0;
  }
  .menu-products {
    order: 3;
  }
  .menu-home {
    order: 0;
  }
  .menu-news {
    order: 2;
  }
  .menu-recipes {
    order: 1;
    justify-content: flex-start;
  }
  .return-button {
    position: relative;
    margin: 2vw 0;
    text-align: center;  
  }
}



@media screen and (max-width: $mobile-L) {
  header {
    padding: 0;
    margin: 30px 0;
    width: 100%;
  }
  .header-logo {
    width: 100%;
    padding: 15px 0;
  }
  .header-logo-image {
    width: 60%;
    margin: auto;
  }

  .header-panel {
    padding: 3vw 9vw 3vw 12vw;
    width: 100%;
    justify-content: space-between;
  }
  .header-item.basket {
    order: 0;
    margin: 0;
  }
  .header-menu {
    order: 1;
    margin: 0 0 0 -10px;
  }
  .header-item.login {
    order: 2;
    margin: 0;
  }
  .header-menu-text {
    font-size: 14px;
  }
}

@media screen and (max-width: $mobile-M) {
  .menu-container {
    width: 90%;
  }
  .item-category {
    width: 50%;
    height: 80vw;
  }
  .menu-brand-logo {
    position: relative;
    top: 0;
    left: 0;
    width: 75%;
    margin: 7vw auto;
  }
  .menu-brand-bg {
    width: 75%;
    bottom: 0;
    right: 12%;
  }
  .menu-home .menu-title {
    font-size: 8vw;
  }
  .menu-products .menu-title {
    font-size: 22px;
    padding: 3.5vw;
  }
}


@media screen and (max-width: $mobile-L) and (min-width: $mobile-S) {
  .header-logo-image {
    width: 40%;
    margin: auto;
  }
}
