@import "../../../fonts.scss";
@import "../../../variables.scss";


.brand-products-content {
    background-size: contain;
    background-repeat: no-repeat;
}
.brand-info-container {
    width: 35%;
    background-color: $mainBGColor;
    padding: 3vw;
    border: 1px solid #e1aa5738;
    margin-bottom: 15vw;
    position: relative;
}
.brand-info-text {
    @include play-small-text;
    color: #7b7b7b;
    line-height: 1.2;
    margin-top: 1.5vw;
}
.brand-leaf-bg {
    position: absolute;
    width: 90px;
    top: 0;
    left: -91px;
}


.brand-products {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 5vw;
}

.product:nth-child(odd) {
    margin-top: -100px;
}
.product:nth-child(2),
.product:nth-child(4) {
    margin-top: 100px;
}
.product:nth-child(1),
.product:nth-child(3) {
    margin-top: 0;
}
.product {
    width: 25%;
    height: 35vw;
    border: 1px solid #5e5d5d47;
    background-color: #1a171d;
}
.product-content {
    width: 100%;
    height: 100%;
    @include item-centred;
    flex-direction: column;
    padding: 2.5vw 2.5vw 3vw;
    border: 5px solid transparent;
    position: relative;
}
.product-content:hover {
    border-color: $mainLightColor;
}
.product-title {
    @include abril-maincolor-text;
    font-size: 1.23vw;
    line-height: 1.4;
    letter-spacing: 1px;
    text-align: center;
}
.product-price-line {
    width: 60%;
    border-bottom: 1px solid $mainLightColor;
    margin: 2vw 0 0.4vw;
}
.product-price {
    font-size: 1.5vw;
    color: #b3b3b3;
}
.product-volume,
.product-sort {
    position: absolute;
    transform: rotate(-90deg);
    top: 10%;
    right: 8%;
    @include abril-maincolor-text;
    font-size: 1.18vw;
}
.product-sort {
    @include play-small-text;
    font-size: 1vw;
    color: $mainLightColor;
    right: auto;
    left: -5%;
    top: 12%;
}
.product-sort span {
    display: inline-block;
    vertical-align: middle;
}
.sort-label {
    border-radius: 50%;
    width: 1.1vw;
    height: 1.1vw;
    margin: 0 10px;
}