<div class="main-content-block">
    <div class="sign-out-container">
        <button (click)="signOut()" class="link-btn sign-out-btn">Sign out</button>
    </div>
    <div class="profile-container">
        <img src="../../../assets/images/red-wine-glass.png" alt="red-wine" class="wine-glass">
        <div class="profile-title-block">
            <h4 class="profile-title">
                <span>Welcome you, </span>
                <span class="user-name">{{ userName | titlecase }}</span>
            </h4>
            <p class="profile-intro-text">We are glad to see you among our buyers. <br> In your personal cabinet, you
                can add information about yourself, receive a birthday discount and see order history by your phone
                number.</p>
        </div>

        <div class="profile-content-block">
            <div class="form-card">
                <form #userForm="ngForm" novalidate class="form-card-form">
                    <h5 class="form-card-title" *ngIf="editStatus">Please, add some information about you</h5>
                    <div class="form-card-row">
                        <div class="form-card-label">
                            <p class="form-card-label-text">First name</p>
                        </div>
                        <div class="form-card-field">
                            <input type="text" [(ngModel)]="userData.firstName" name="userData.firstName"
                                class="form-card-input" [disabled]="!editStatus" [ngClass]="{'input-edit': editStatus}" pattern="[a-zA-z]{2,}">
                        </div>
                    </div>

                    <div class="form-card-row">
                        <div class="form-card-field">
                            <input type="text" [(ngModel)]="userData.lastName" name="userData.lastName" pattern="[a-zA-z]{2,}"
                                class="form-card-input" [disabled]="!editStatus" [ngClass]="{'input-edit': editStatus}">
                        </div>
                        <div class="form-card-label">
                            <p class="form-card-label-text">Last name</p>
                        </div>
                    </div>

                    <div class="form-card-row" *ngIf="userPhone">
                        <div class="form-card-label">
                            <p class="form-card-label-text">Phone number</p>
                        </div>
                        <div class="form-card-field">
                            <input type="text" [(ngModel)]="userData.phone" name="userData.phone" pattern="\+\d{11,12}" placeholder="e.g. +351112223344"
                                class="form-card-input" [disabled]="!editStatus" [ngClass]="{'input-edit': editStatus}">
                        </div>
                    </div>

                    <div class="form-card-row" *ngIf="userBday">
                        <div class="form-card-field">
                            <input type="text" [(ngModel)]="userData.birthday" name="userData.birthday" pattern="\d{2}\.\d{2}\.\d{4}"
                                placeholder="DD.MM.YYYY" class="form-card-input" [disabled]="!editStatus" [ngClass]="{'input-edit': editStatus}">
                        </div>
                        <div class="form-card-label">
                            <p class="form-card-label-text">Birthday</p>
                        </div>
                    </div>

                    <div class="form-card-row" *ngIf="userCountry">
                        <div class="form-card-label">
                            <p class="form-card-label-text">Country</p>
                        </div>
                        <div class="form-card-field">
                            <input type="text" [(ngModel)]="userData.country" name="userData.country"
                                class="form-card-input" [disabled]="!editStatus" [ngClass]="{'input-edit': editStatus}">
                        </div>
                    </div>

                    <div class="form-card-row" *ngIf="userCity">
                        <div class="form-card-field">
                            <input type="text" [(ngModel)]="userData.city" name="userData.city" class="form-card-input"
                                [disabled]="!editStatus" [ngClass]="{'input-edit': editStatus}">
                        </div>
                        <div class="form-card-label">
                            <p class="form-card-label-text">City</p>
                        </div>
                    </div>

                    <div class="form-card-row" *ngIf="userStreet">
                        <div class="form-card-label">
                            <p class="form-card-label-text">Street</p>
                        </div>
                        <div class="form-card-field">
                            <input type="text" [(ngModel)]="userData.street" name="userData.street"
                                class="form-card-input" [disabled]="!editStatus" [ngClass]="{'input-edit': editStatus}">
                        </div>
                    </div>

                    <div class="form-card-row" *ngIf="userHouse">
                        <div class="form-card-field">
                            <input type="text" [(ngModel)]="userData.house" name="userData.house"
                                class="form-card-input" [disabled]="!editStatus" [ngClass]="{'input-edit': editStatus}">
                        </div>
                        <div class="form-card-label">
                            <p class="form-card-label-text">House</p>
                        </div>
                    </div>

                    <div class="submit-btn" *ngIf="!editStatus">
                        <button type="submit" class="link-btn form-card-submit-btn" (click)="changeEditStatus()">Edit
                            my info</button>
                    </div>
                    <div class="submit-btn" *ngIf="editStatus">
                        <button type="submit" class="link-btn form-card-submit-btn"
                            (click)="updateUserData(userForm)">Save</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="orders-container">
        <div class="orders-block" *ngIf="userOrders.length !== 0">
            <div class="orders-table-block">
                <h5 class="orders-title">Your orders</h5>
                <div class="orders-content-empty" *ngIf="(userOrders | search: userData.phone).length === 0">
                    <div class="orders-empty-text">
                        <span>Here empty</span>
                        <img src="../../../assets/images/bee.png" alt="bee">
                    </div>
                    <p class="orders-rectify-text">But it's never late to rectify it!:)</p>
                    <a class="orders-catalog-text" [routerLink]="[ '/brands' ]">Go to the catalog</a>
                </div>
                <div class="orders-content" *ngIf="(userOrders | search: userData.phone).length !== 0">
                    <div class="order-item"
                        *ngFor="let order of userOrders | search: userData.phone | orderBy:'date':true; index as i">
                        <div class="order-row">
                            <div class="order-date">{{ order?.date.toDate() | date: 'dd.MM.y' }}</div>
                            <div class="order-sum">${{ order?.totalSum }}</div>
                            <div class="order-status">{{ order?.status }}</div>
                            <div class="order-details">
                                <button (click)="showDetails(i)" class="link-btn">Details</button>
                            </div>
                        </div>
                        <div class="order-products">
                            <div class="product-row" *ngFor="let prod of order?.products">
                                <div class="product-category">{{ prod?.catName | titlecase}}</div>
                                <div class="product-name">{{ prod?.name }}</div>
                                <div class="product-img">
                                    <img [src]="prod?.image" alt="product">
                                </div>
                                <div class="product-count">{{ prod?.count }} pcs.</div>
                                <div class="product-price">${{ prod?.price }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="orders-aside"></div>
        </div>
    </div>

</div>