<div class="check-age-container">
    <section class="check-age d-flex">
        <div class="winery-logo-block">
            <img src="../../../assets/images/age-check-menada-logo.png" alt="menada" class="winery-logo"
                data-aos="fade-up">
        </div>
        <div class="check-age-block">
            <div class="check-age-content" data-aos="fade-left">
                <h5 class="check-age-text">Are you of legal drinking age in your country?</h5>
                <div class="check-age-btns">
                    <div class="denay-btn">
                        <a class="link-btn" (click)="checkAge(false)">NO</a>
                    </div>
                    <div class="agree-btn">
                        <a class="link-btn" (click)="checkAge(true)">YES, PROCEED TO THE SITE</a>
                    </div>
                </div>
                <div class="terms-block">
                    <span class="terms-text">Entering the site you agree with our </span> 
                    <a href="" class="terms-link">terms and conditions</a>
                    <span class="terms-text"> and </span> 
                    <a href="" class="terms-link">cookie policy</a>
                </div>
                <h3 class="check-age-title">
                    <span class="check-age-title-small">Age</span><br>
                    <span>Check</span>
                </h3>
            </div>
        </div>
    </section>
</div>