@import "../../../variables.scss";
@import "../../../fonts.scss";

.check-age-container {
    width: 100vw;
    height: 100vh;
    @include item-centred;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background-color: $mainBGColor;
    @include play-small-text;
}

.check-age {
    width: 75%;
    min-height: 75vh;
    background-image: url(../../../assets/images/age-check-bg.jpg);
    @include bg-center;
}
.winery-logo-block,
.check-age-block {
    width: 50%;
    @include item-centred;
    height: 100%;
}
.winery-logo {
    width: 26vw;
}

.check-age-content {
    width: 100%;
    background-image: url(../../../assets/images/age-check-text-bg.jpg);
    @include bg-center;
    padding-left: 8.91vw;
    padding-right: 4vw;
    padding-top: 3.91vw;
    padding-bottom: 3.91vw;
    margin-right: -4.6vw;
    position: relative;
}
.check-age-text {
    font-size: 18px;
    color: #a7a7a7;
    font-weight: 400;
    margin: 0;
}
.check-age-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3vw 0;
}
.denay-text {
    width: 100%;
    color: #a63939;
    margin-top: 0;
    font-size: 14px;
}
.denay-btn a {
    background: #414141;
    color: #a5a5a5;
}
.denay-btn a:hover {
    background: #414141;
    color: #fff;
}
.agree-btn a {
    background-color: $mainLightColor;
    color: #000;
}
.agree-btn a:hover {
    color: #fff;
}
.terms-block {
    line-height: 1.2;
    font-size: 14px;
}
.terms-text {
    color: #b3b3b3;
}
.terms-link {
    color: $mainLightColor;
}
.check-age-title {
    position: absolute;
    transform: rotate(-90deg);
    top: 7vw;
    left: -3vw;
    @include abril-maincolor-text;
    font-size: 50px;
    letter-spacing: 10px;
}
.check-age-title-small {
    font-size: 25px;
    line-height: 1em;
    letter-spacing: 2px;
}

@media screen and (max-width: $desktop-S) {
    .check-age {
        width: 90%;
        flex-wrap: wrap;
        padding: 7vw 0;
    }
    .winery-logo-block,
    .check-age-block {
        width: 100%;
        height: fit-content;
    }
    .winery-logo-block img {
        width: 35vw;
        margin-bottom: 3vw;
    }
    .check-age-content {
        padding: 4vw 10vw 7vw;
        margin-right: 0;
        @include item-centred;
        text-align: center;
        background-image: none;
        background-color: rgba(42,42,42,.8);
    }
    .check-age-title {
        position: relative;
        transform: rotate(0deg);
        top: auto;
        left: auto;
        margin: 0 0 3vw;
    }
    .denay-btn {
        margin-right: 4vw;
    }
    .terms-block {
        padding: 0 5vw;
    }
    .check-age-btns {
        justify-content: center;
    }
}

@media screen and (max-width: $mobile-M) {
    .check-age-btns {
        margin: 7vw;
    }
    .check-age {
        width: 100%;
    }
    .check-age-content {
        padding: 4vw 2vw 16vw;
    }
    .check-age-text {
        line-height: 1.3;
        margin: 8vw;
    }
}
