<div class="main-content-block">
    <div class="login-container">
        <h4 class="login-main-title">
            <span>Enter </span>
            <span class="login-main-title-small">the site</span>
        </h4>
        <div class="form-card">
            <form #signInForm="ngForm" novalidate class="form-card-form" *ngIf="enterStatus">
                <h5 class="form-card-title">Login in, please</h5>
                <div class="form-card-row">
                    <div class="form-card-label">
                        <p class="form-card-label-text" >Email</p>
                    </div>
                    <div class="form-card-field">
                        <input type="email" [(ngModel)]="uEmail" name="uEmail" class="form-card-input" (focus)="changeFocus(0)" (blur)="changeFocus(0)" required>
                    </div>
                </div>

                <div class="form-card-row">
                    <div class="form-card-label">
                        <p class="form-card-label-text" >Password</p>
                    </div>
                    <div class="form-card-field">
                        <input type="password" [(ngModel)]="uPassword" name="uPassword" class="form-card-input" (focus)="changeFocus(1)" (blur)="changeFocus(1)" required>
                    </div>
                </div>

                <div class="submit-btn">
                    <button type="submit" class="link-btn" (click)="signInUser(signInForm)">Sign in</button>
                </div>
                <div class="form-card-change-status">
                    <a (click)="changeEnterStatus()">Don't have an Account? <span class="form-card-change-link">Sign up Now</span></a>
                </div>
            </form>

            <form #signUpForm="ngForm" novalidate class="form-card-form" *ngIf="!enterStatus">
                <h5 class="form-card-title">Register, please</h5>

                <div class="form-card-row">
                    <div class="form-card-label">
                        <p class="form-card-label-text" >First name</p>
                    </div>
                    <div class="form-card-field">
                        <input type="text" [(ngModel)]="uFirstName" name="uFirstName" class="form-card-input" (focus)="changeFocus(0)" 
                        (blur)="changeFocus(0)" required pattern="[a-zA-z]{2,}">
                    </div>
                </div>

                <div class="form-card-row">
                    <div class="form-card-label">
                        <p class="form-card-label-text" >Last name</p>
                    </div>
                    <div class="form-card-field">
                        <input type="text" [(ngModel)]="uLastName" name="uLastName" class="form-card-input" (focus)="changeFocus(1)" 
                        (blur)="changeFocus(1)" required pattern="[a-zA-z]{2,}">
                    </div>
                </div>

                <div class="form-card-row">
                    <div class="form-card-label">
                        <p class="form-card-label-text" >Email</p>
                    </div>
                    <div class="form-card-field">
                        <input type="email" [(ngModel)]="uEmail" name="uEmail" class="form-card-input" (focus)="changeFocus(2)" 
                        (blur)="changeFocus(2)" required pattern=".+@.+\..">
                    </div>
                </div>

                <div class="form-card-row">
                    <div class="form-card-label">
                        <p class="form-card-label-text" >Password</p>
                    </div>
                    <div class="form-card-field">
                        <input type="password" [(ngModel)]="uPassword" name="uPassword" class="form-card-input" (focus)="changeFocus(3)" 
                        (blur)="changeFocus(3)" required pattern=".{6,}">
                    </div>
                </div>

                <div class="submit-btn">
                    <button type="submit" class="link-btn" (click)="signUpUser(signUpForm)">Sign up</button>
                </div>
                <div class="form-card-change-status">
                    <a (click)="changeEnterStatus()">Do you have an Account? <span class="form-card-change-link">Sign in Now</span></a>
                </div>
            </form>
            <img src="../../../assets/images/page-leaf-bg.jpg" alt="grape-leaf" class="form-card-bg-leaf">
        </div>
    </div>
</div>
