@import "../../../variables.scss";
@import "../../../fonts.scss";

section {
  width: 100%;
}
.main-wrap {
  background-color: $darkBlockColor;
  position: relative;
}
.leaf-video {
  width: 100%;
  box-shadow: 0 0 30px #212121;
}

// ____________________________ start home-intro-section
.home-intro-section {
  padding-bottom: 60px;
}
.intro-grape {
  position: absolute;
  top: -130px;
  left: 24%;
  width: 35vw;
  max-width: 685px;
  z-index: 3;
}
.intro-video,
.intro-bg {
  width: 100%;
  position: absolute;
  top: 0;
  display: block;
}
.intro-bg {
  display: none;
  height: 100%;
  @include bg-center;
  background-position: top right;
  background-image: url(../../../assets/images/homepage-hero-bg.jpg);
}

.intro-grid {
  position: relative;
  width: 100%;
  padding: 130px 0 60px;
  z-index: 2;
}
.intro-grid-item {
  width: 50%;
  padding-left: 3.65vw;
}
.intro-item-title {
  margin-bottom: 20px;
}
.light-title {
  line-height: 0.6em;
}
.intro-item-content {
  background-color: $darkBlockColor;
  width: 100%;
  padding: 30px;
  margin-left: -20px;
}
.item-intro-text,
.content-text {
  @include play-small-text;
  color: $mainDarkColor;
  max-width: 330px;
  line-height: 1.1;
  margin-bottom: 20px;
}
.item-intro-text {
  color: #dbdbdb;
  letter-spacing: 1px;
}
.intro-item-content .btn-line-text {
  display: inline-block;
  width: 150px;
  margin-top: 15px;
}

.intro-grid-item.right {
  display: flex;
  justify-content: flex-end;
}
.intro-menada-products {
  width: 65%;
  padding-right: 3.65vw;
}
.menada-products-title {
  margin: 70px 0 20px;
}

.menada-products-wrap {
  align-items: flex-end;
  height: 11vw;
  width: 25vw;
}
.menada-product-image {
  margin-right: 5px;
  flex-basis: 2.3vw;
  transition: ease 0.4s all;
}
.menada-product-image:hover {
  flex-basis: 3vw;
}

.product-info-title {
  min-height: 46px;
  font-size: 20px;
  @include abril-maincolor-text;
  line-height: 1.1em;
  margin: 20px 0 10px;
}
.product-info-text {
  @include play-small-text;
  font-size: 13px;
  color: #909090;
  margin-bottom: 30px;
  line-height: 1.2em;
  min-height: 82px;
}
// ____________________________ end home-intro-section

// ____________________________ start home-video-section

.home-video-section {
  position: relative;
}
.bg-right-leaf-video {
  position: absolute;
  top: -22%;
  right: -15%;
  width: 31%;
  z-index: -10;
}

.video-container,
.video-bottom {
  display: flex;
  justify-content: flex-end;
}
.video-content {
  width: 73%;
  padding-top: 9.9vw;
  padding-bottom: 6.25vw;
  padding-right: 7.55vw;
  padding-left: 9.38vw;
  min-height: 300px;
  background-image: url(../../../assets/images/home-video-bg.jpg);
  @include bg-center;
}
.video-content-item {
  width: 50%;
}
.video-content-item.left {
  padding-right: 2.65vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.video-item-title {
  @include abril-maincolor-text;
  letter-spacing: 8px;
  font-size: 5.31vw;
  color: #fff;
  margin: 15px 0 0;
}
.video-item-title-percent {
  font-size: 35px;
}
.video-item-text {
  @include play-small-text;
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
}
.grape-grow-video {
  width: 100%;
  margin-bottom: 15px;
}
.video-description {
  @include play-small-text;
  color: #d1d1d1;
  line-height: 1.2;
  font-size: 15px;
}

.video-bottom {
  position: relative;
}
.video-bottom-content {
  width: 73%;
  margin: 3.2vw;
  display: flex;
  justify-content: space-between;
}
.video-bottom-info {
  margin-left: 5vw;
}
.video-bottom-number {
  @include abril-maincolor-text;
  font-size: 38px;
}
.video-bottom-text {
  @include play-small-text;
  margin: 0 1.3vw;
  letter-spacing: 7px;
  color: #595959;
  line-height: 38px;
}

.video-aside {
  position: absolute;
  top: auto;
  bottom: 320px;
  right: 81vw;
  transform: rotate(-90deg);
  min-width: 340px;
  transform-origin: 100% 0 0;
}
.video-aside .video-bottom-text,
.video-aside-title {
  margin: 0;
}

.single-grape-main {
  position: absolute;
  top: 0;
  left: -30px;
  width: 34.95vw;
  max-width: 671px;
}
.single-grape-small {
  position: absolute;
  width: 34.95vw;
  max-width: 671px;
  top: 15vh;
  left: -7.8vw;
}
// ____________________________ end home-video-section

// ____________________________ start menada-info-section
.menada-info-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 5.47vw;
  position: relative;
}
.bg-left-leaf-video {
  position: absolute;
  top: -22%;
  left: -18%;
  width: 40%;
  z-index: -10;
}

.about-block {
  width: 49%;
  background-image: url(../../../assets/images/about-bg.jpg);
  @include bg-center;
}
.history-block {
  width: 50%;
  background-image: url(../../../assets/images/history-bg.jpg);
  @include bg-center;
}
.menada-info-content {
  width: 53%;
  padding-left: 3.65vw;
  margin: 4.1vw 0;
  vertical-align: middle;
}
.menada-info-title {
  @include abril-maincolor-text;
  font-size: 3.02vw;
  letter-spacing: 3px;
  margin-bottom: 40px;
}
.info-title-small {
  font-size: 1.98vw;
  line-height: 0;
}
.menada-info-text {
  @include play-small-text;
  color: #7b7b7b;
  margin-bottom: 30px;
  line-height: 1.2;
}
// ____________________________ end menada-info-section

// ____________________________ start home-products-section

.products-title-line {
  padding-top: 3.91vw;
  padding-bottom: 4.69vw;
}
.products-title {
  @include abril-maincolor-text;
  font-size: 2.76vw;
  letter-spacing: 0.36vw;
  margin: 0 30px 0 50px;
  position: relative;
}
.products-title-small {
  position: absolute;
  font-size: 1.25vw;
  letter-spacing: 0;
  color: $mainDarkColor;
  transform: rotate(-90deg);
  top: 0;
  left: -2vw;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-large-container {
  width: 49%;
}
.product-large {
  background-color: #6f2026;
  padding: 5vw 2vw;
  position: relative;
  overflow-y: hidden;
}
.products-small {
  width: 50%;
}
.large-bottle-container {
  position: relative;
  z-index: 3;
  width: 10.42vw;
  margin: auto;
  transition: 0.7s all;
}
.large-bottle-container:hover {
  transform: translateY(-8px);
}
.product-large-bg-image {
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
  height: 75%;
  background-image: url(../../../assets/images/inovino-bg-red.jpg);
  @include bg-center;
  z-index: 2;
}
.product-large-logo {
  position: absolute;
  z-index: 2;
  top: 2.4vw;
  left: 3.1vw;
  width: 9.58vw;
}
.product-large-logo-title {
  text-align: center;
  @include abril-maincolor-text;
  color: #fff;
  font-size: 15px;
  margin-top: 10px;
  letter-spacing: 1px;
}
.product-large-description {
  position: absolute;
  z-index: 2;
  bottom: 2.3vw;
  right: 2.9vw;
  width: 9.58vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-large-text {
  @include play-small-text;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
.product-large-bottom {
  background-image: url(../../../assets/images/product-large-bottom-bg.jpg);
  @include bg-center;
  background-position: bottom left;
  width: 100%;
  height: 13.1vh;
  padding-right: 3vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.more-products {
  @include play-small-text;
  color: #000;
  font-size: 16px;
}
.more-products-bold {
  font-size: 24px;
  letter-spacing: 6px;
  font-weight: 700;
  line-height: 1.4;
}

.product-small {
  margin-bottom: 0.8vw;
  background-color: $darkBlockColor;
  position: relative;
  overflow-y: hidden;
}
.product-small-bg {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(../../../assets/images/tcherga-bg-large.jpg);
  @include bg-center;
}
.small-bottle-container,
.product-small-description {
  width: 50%;
  padding-top: 3vw;
  display: flex;
  align-items: center;
  z-index: 3;
  position: relative;
}
.small-bottle-container {
  align-items: flex-end;
  justify-content: center;
}
.product-small-description {
  padding-bottom: 2vw;
}
.small-bottle-image {
  display: block;
  width: 6.29vw;
  z-index: 3;
}
.small-bottle-image-bg {
  position: absolute;
  top: 17%;
  left: 8%;
  width: 84%;
  z-index: 1;
}
.product-small-description-items {
  width: 50%;
  margin: auto;
  text-align: center;
}
.products-small-logo-title {
  @include abril-maincolor-text;
  font-size: 15px;
  margin: 15px 0 40px;
  letter-spacing: 1px;
}
.product-small-text {
  @include play-small-text;
  font-size: 13px;
  color: #7b7b7b;
  margin-bottom: 30px;
}
// ____________________________ end home-products-section

// ____________________________ start region-section

.region-section {
  margin: 7vw 0;
}
.region-up-level {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.region-block {
  width: 50%;
  min-height: 22vw;
  background-color: $darkBlockColor;
  position: relative;
  padding: 5vw 0;
  margin-bottom: 7vw;
  overflow-y: hidden;
  flex-wrap: wrap;
}
.region-block-bg {
  position: absolute;
  top: 110%;
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/images/region-title-bg.jpg);
  @include bg-center;
  z-index: -1;
}
.region-title-block,
.region-text-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.region-title {
  @include abril-maincolor-text;
  font-size: 18px;
  line-height: 1.2em;
  letter-spacing: 2px;
  position: absolute;
  transform: rotate(-90deg);
  top: 5vw;
  left: -4.08vw;
}
.region-title-bold {
  font-size: 3.75vw;
  letter-spacing: 0.94vw;
}
.region-text {
  display: inline-block;
  width: 75%;
  @include play-small-text;
  color: $mainDarkColor;
}
.region-text-block .btn-line {
  display: inline-block;
  width: 75%;
  margin-top: 30px;
}

.grape-sorts {
  width: 25%;
  margin-top: 4.17vw;
  background-color: #d4d4d4;
  padding: 10.94vw 3.17vw 3.13vw;
  position: relative;
  z-index: -2;
}
.grape-sorts-title {
  @include abril-maincolor-text;
  font-size: 27px;
  color: #bf9a64;
  letter-spacing: 3px;
  line-height: 1.2;
  margin: 0;
}
.grape-sorts-list li {
  display: block;
  margin-top: 20px;
  @include play-small-text;
  width: 100%;
}
.grape-sorts-list:last-child {
  border-bottom: 1px solid #000;
}
.bulgaria-map {
  position: absolute;
  width: 45%;
  top: -15vw;
  right: 0;
  z-index: -1;
}

.region-down-level {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 4;
}
.region-video {
  width: 50%;
  margin-top: -12vw;
}
.menada-region-video {
  width: 100%;
  box-shadow: 0px 0px 15px #000;
}
.region-video-poster {
  display: none;
}
.region-glass {
  position: absolute;
  top: 110%;
  left: 43%;
  width: 11.04vw;
}
.region-bg-image {
  position: absolute;
  top: -120%;
  left: 0;
  z-index: -1;
  width: 100%;
}
// ____________________________ end region-section

// ____________________________ start wine-section

.wine-section {
  margin-top: 10vw;
  position: relative;
}
.wine-container {
  padding: 5.47vw 0 4.69vw;
  background-color: $darkBlockColor;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.wine-title {
  @include abril-maincolor-text;
  font-size: 5.57vw;
  letter-spacing: 0.42vw;
  line-height: 1.3em;
  text-align: right;
  padding: 0 6vw;
  width: 100%;
}
.wine-title-light {
  font-size: 3.7vw;
  line-height: 1.1em;
  letter-spacing: 0.42vw;
  color: #fff;
}
.wine-content {
  width: 50%;
  margin-top: 4.17vw;
}
.wine-content-item {
  width: 50%;
  padding-left: 3.91vw;
  padding-right: 1.56vw;
}
.wine-content-item.right {
  padding-right: 3.91vw;
  padding-left: 1.56vw;
}
.wine-content-text {
  @include play-small-text;
  color: $mainDarkColor;
  line-height: 1.1;
  margin-bottom: 30px;
}
.wine-recipes {
  display: flex;
  flex-wrap: wrap;
}
.wine-recipe-container,
.wine-recipe-hover {
  width: 25%;
  text-align: center;
  @include item-centred;
  flex-direction: column;
}
.recipe-bg {
  background-image: url(../../../assets/images/wine-lifestyle-bg.jpg);
  @include bg-center;
  height: 14vw;
}
.our-recipes {
  background: #0e0e0e;
  height: 16vw;
}
.our-recipes-title {
  @include abril-maincolor-text;
  font-size: 1.72vw;
  letter-spacing: 2px;
  line-height: 1.3em;
  margin: 20px 0;
}
.first-recipe,
.second-recipe {
  height: 24vw;
  background-image: url(../../../assets/images/cucumber_thumb.jpg);
  @include bg-center;
}
.second-recipe {
  background-image: url(../../../assets/images/watermelon_thumb.jpg);
}
.wine-hands {
  position: absolute;
  top: 0;
  left: 0;
  width: 48.15vw;
}
// ____________________________ end wine-section


@media screen and (max-width: $desktop-S) and (min-width: 1024px) {

  .intro-grid {
    padding: 70px 0 20px;
  }
  .item-intro-text,
  .content-text {
    max-width: 280px;
  }
  .intro-grid-item.right {
    width: 55%;
    padding-right: 3vw;
  }

  .product-large-text {
    font-size: 12px;
  }
  .product-small-description-items {
    width: 75%;
  }
  .small-bottle-image {
    width: 8.1vw;
  }

  .region-title-block {
    width: 35%;
  } 
  .region-text-block {
    width: 65%;
  }
  .region-glass {
    top: 135%;
  }
}

@media screen and (max-width: $tablet-L)  {

  .bg-left-leaf-video,
  .bg-right-leaf-video {
    display: none;
  }
  .intro-grape {
    top: -25px;
    z-index: 1;
    left: 27%;
  }
  .intro-grid {
    padding: 75px 0 20px;
  }
  .intro-item-content {
    background-color: transparent;
    width: 82%;
    padding: 20px 0;
    margin-left: 0;
  }
  .intro-menada-products {
    width: 75%;
  }
  .product-info-title {
    font-size: 18px;
  }

  .video-bottom-info img {
    display: none;
  }
  .video-bottom-text {
    margin: 0 0 0 1.3vw;
    letter-spacing: 4px;
  }
  .video-description {
    font-size: 14px;
  }

  .about-block,
  .history-block {
    width: 100%;
  }
  .about-block {
    margin-bottom: 3vw;
  }
  .menada-info-title {
    font-size: 4.02vw;
  }

  .products-title {
    font-size: 4.46vw;
  }
  .products-title-small {
    font-size: 2.25vw;
    left: -3.1vw;
  }
  .product-large-container,
  .products-small,
  .product-small {
    width: 100%;
  }
  .large-bottle-container {
    width: 18.42vw;
  }
  .product-large-logo {
    top: 4.4vw;
    left: 6.1vw;
    width: 17.58vw;
  } 
  .product-large-description {
    bottom: 4.3vw;
    right: 5.4vw;
    width: 20.58vw;
  }
  .product-large-text {
    font-size: 15px;
  }
  .product-large-bg-image {
    top: 65%;
    left: 5%;
    height: 85%;
    width: 90%;
  }
  .product-small {
    margin: 2vw 0;
  }
  .product-small-bg {
    top: 110%;
  }
  .product-small-description-items {
    width: 70%;
    padding: 20px 0;
  }
  .small-bottle-image {
    width: 11.29vw;
  }
  .small-bottle-image-bg {
    top: 10%;
    left: 12%;
    width: 75%;
  }
  .products-small-logo-title {
    font-size: 18px;
  }
  .product-small-logo img {
    margin: auto;
  }

  .bulgaria-map {
    display: none;
  }
  .region-glass {
    top: 180%;
  }
  .grape-sorts {
    width: 33%;
    padding: 3.94vw 3.17vw 3vw;
  }
  .region-block {
    width: 67%;
  }
  .region-title-block,
  .region-text-block {
    width: 100%;
    position: relative;
    z-index: 5;
  }
  .region-title-block {
    margin-bottom: 2.5vw;
    align-items: flex-start;
    padding-left: 7vw;
  }
  .region-title {
    position: relative;
    font-size: 20px;
    transform: rotate(0deg);
    top: 0;
    left: 0;
    line-height: 1.5em;
  }
  .region-title-bold {
    font-size: 5.25vw;
  }
  .region-text-block .btn-line {
    margin: 10px 0;
  }
  .region-video {
    width: 59%;
    margin-top: -11vw;
  }
  .region-block-bg {
    top: 115%;
    left: 0%;
    z-index: 1;
  }

  .wine-title {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    font-size: 7.57vw;
  }
  .wine-title span {
    display: inline-block;
  }
  .wine-title-light {
    font-size: 5.7vw;
    letter-spacing: 0.6vw;
  }
  .wine-hands {
    width: 42.15vw;
  }
  .wine-content {
    width: 100%;
    margin-top: 0;
    padding: 13.17vw 2vw 0;
  }
  .recipe-bg {
    display: none;
  }
  .our-recipes {
    width: 100%;
    margin-top: 3vw;
    padding: 20px 0;
    height: fit-content;
  }
  .our-recipes-title {
    font-size: 4.32vw;
    margin: 0 0 10px;
  }
  .first-recipe,
  .second-recipe {
    width: 50%;
    height: 45vw;
    margin-bottom: 2vw;
  }
  

}


@media screen and (max-width: $mobile-L) {

  .btn-line .line {
    display: none;
  }
  .btn-line {
    background-color: black;
    padding: 12px;
    border-radius: 50px;
    text-align: center;
    display: flex;
    width: fit-content;
  }
  
  .intro-video {
    display: none;
  }
  .intro-bg {
    display: block;
  }

  .intro-grape {
    top: -25px;
    left: auto;
    right: -35px;
    width: 330px;
    z-index: 1;
  }
  .intro-grid {
    padding: 65px 0 20px;
    flex-wrap: wrap;
  }
  .intro-grid-item {
    width: 100%;
  }
  .intro-item-title {
    background-color: black;
    margin-left: -35px;
    padding: 15px;
    width: fit-content;
  }
  .main-title {
    font-size: 53px;
  }
  .small-title {
    font-size: 20px;
    padding-left: 10px;
  }
  .light-title {
    font-size: 38px;
  }
  .intro-item-content {
    background-color: transparent;
    width: 60%;
    padding: 10px;
    margin-left: 0;
  }
  .content-text {
    display: none;
  }
  .intro-item-content .btn-line-text {
    width: fit-content;
    margin-top: 0;
    font-size: 12px;
  }
  .menada-product-info .btn-line {
    width: fit-content;
    font-size: 12px;
  }
  .intro-menada-products {
    width: 100%;
    padding: 4.65vw;
  }
  .menada-products-title {
    margin: 30px 0 10px;
  }
  .middle-title {
    font-size: 27px;
  }
  .menada-products-wrap {
    height: 31vw;
    width: 100%;
  }
  .menada-product-image {
    flex-basis: 6.2vw;
  }
  .menada-product-image:hover {
    flex-basis: 7.5vw;
  }

  .video-bottom,
  .video-content-item.right {
    display: none;
  }
  .home-video-section {
    padding: 0 0 7vw;
  }
  .video-bottom-text {
    letter-spacing: 3px;
    line-height: 23px;
  }
  .video-aside-title.middle-title {
    font-size: 18px;
  }
  .video-aside-title .small-title {
    font-size: 16px;
  }
  .video-content-item.left {
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .video-item-title {
    font-size: 58px;
    letter-spacing: 3px;
  }
  .video-content-item.left .video-item-text {
    font-size: 14px;
  }
  .single-grape-main {
    top: 12%;
    left: 0%;
    width: 50vw;
    max-width: 250px;
  }
  .single-grape-small {
    left: -10.8vw;
  }


  .menada-info-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .info-title-small {
    font-size: 18px;
  }
  .menada-info-content {
    width: 80%;
    padding-left: 7.65vw;
    margin: 9.1vw 0;
  }
  
    
  .products-btn,
  .product-large-bottom {
    display: none;
  }
  .product-large-bg-image {
    top: 80%;
    height: 80%;
  }
  .products-title {
    font-size: 38px;
  }
  .products-title-small {
    font-size: 17px;
    left: -24px;
  }
  .products-title-line {
    padding-top: 6.91vw;
    padding-bottom: 7.69vw;
    justify-content: center;
  }
  .large-bottle-container {
    width: 20.42vw;
    margin: 1vw 10vw;
  }
  .product-large-logo {
    top: 6.4vw;
    right: 7.1vw;
    width: 35.58vw;
    left: auto;
  }
  .product-large-description {
    bottom: 17.3vw;
    right: 7.9vw;
    width: 38.58vw;
  }
  .product-small {
    margin: 5.8vw 0;
    padding-top: 5vw;
  }
  .small-bottle-image {
    width: 19.29vw;
  }
  .product-small-description-items {
    width: 75%;
  }
  .product-small-logo img {
    margin: auto;
  }
  .product-small-bg {
    top: 100%;
  }


  
  .region-bg-image {
    display: none;
  }
  .region-glass {
    top: 90vw;
    left: 40%;
    width: 18.04vw;
  }
  .region-up-level {
    flex-wrap: wrap;
  }
  .grape-sorts,
  .region-block {
    width: 100%;
  }
  .region-title-block {
    margin-bottom: 0;
    align-items: flex-start;
    padding: 6vw 10vw;
  }
  .region-title {
    position: relative;
    font-size: 20px;
    transform: rotate(0deg);
    top: 0;
    left: 0;
    line-height: 1.3em;
  }
  .region-title-bold {
    font-size: 38px;
    letter-spacing: 2.94vw;
  }
  .region-text-block .btn-line {
    margin: 10px 0;
    width: fit-content;
    display: flex;
  }
  .grape-sorts {
    margin-top: 0;
    padding: 8vw;
  }
  .region-video {
    display: none;
  }
  .region-video-poster {
    display: block;
    width: 100%;
  }


}

@media screen and (max-width: $mobile-M) {
  .region-glass {
    display: none;
  }
}


@media screen and (max-width: $mobile-S) {

  .product-large-text,
  .product-small-text,
  .product-large-bg-image {
    display: none;
  }

  .product-large-container {
    background-image: url(../../../assets/images/inovino-bg-red.jpg);
    @include bg-center;
  }
  .product-large {
    background-color: transparent;
  }
  .product-small-bg {
    top: 145%;
  }

  .region-video {
    margin-bottom: 0;
  }
  

  .wine-hands {
    display: none;
  }
  .wine-title {
    width: 100%;
    font-size: 14.57vw;
  }
  .wine-title-light {
    font-size: 30px;
  }
  .wine-content {
    flex-wrap: wrap;
  }
  .wine-content-item,
  .wine-content-item.right {
    width: 100%;
    padding-right: 5vw;
    padding-left: 5vw;
  }
  .wine-recipes {
    margin-bottom: 9vw;
  }
  .our-recipes-title {
    font-size: 28px;
  }
  .first-recipe, 
  .second-recipe {
    width: 100%;
    height: 75vw;
    margin-bottom: 0;
  }
  .recipe-card-title {
    font-size: 21px;
  }
  
}
