@import "./variables.scss";
@import "./fonts.scss";



// ____________________________________________________ start reset css


*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

a{
  text-decoration: none;
}

li:focus,
div:focus,
a:focus {
  outline: none;
}
// ____________________________________________________ end reset css


body{
  background-color: $mainBGColor!important;
  font-weight: 400;
  font-family: Play, sans-serif;
  overflow-x: hidden;
}

.d-flex{
  display: flex;
}
.m-auto{
  margin: auto;
}

.main-content-block{
  width: 83%;
  margin: auto;
}

.link-btn{
  display: inline-block;
  font-size: $smallFontsize;
  line-height: 1.2em;
  letter-spacing: 1px;
  padding: 12px 20px;
  border-radius: 40px;
  color: #cdcdcd;
  background: #000;
  text-decoration: none;
  text-align: center;
}
.link-btn:hover {
  color: #000;
  background: $mainLightColor;
}
.link-btn:focus {
  outline: none;
}

.btn-line{
  padding: 10px 0;
  color: $mainLightColor;
  vertical-align: middle;
  cursor: pointer;
}
.line{
  height: 1px;
  width: 33%;
  max-width: 70px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 15px;
  background-color: $mainLightColor;
}
.btn-line-text{
  font-size: 13px;
  line-height: 1;
}


.main-title{
  font-size: 5.21vw;
  letter-spacing: 0.73vw;
  @include abril-maincolor-text;
}
.middle-title{
  font-size: 2.19vw;
  @include abril-maincolor-text;
}
.small-title{
  font-size: 19px;
  letter-spacing: 0.36vw;
  @include abril-maincolor-text;
  padding-left: 20px;
}
.light-title{
  font-size: 3.65vw;
  letter-spacing: 4px;
  @include abril-maincolor-text;
  color: #fff;
}



.bread-crumbs {
  padding-top: 1.04vw;
  padding-bottom: 2.08vw;
}
.bread-crumbs-list {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.bread-crumbs-list li {
  display: inline-block;
  @include abril-maincolor-text;
  margin: 15px 10px 0 0;
}
.small-crumb.link,
.main-crumb.link {
  cursor: pointer;
}
.small-crumb {
  opacity: 0.22;
  font-size: 24px;
  letter-spacing: 2px;
}
.main-crumb {
  font-size: 2.76vw;
  letter-spacing: 7px;
}


.recipe-card {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  text-align: center;
  @include item-centred;
  flex-direction: column;
}
.recipe-card-title {
  @include abril-maincolor-text;
  font-size: 1.5vw;
  letter-spacing: 2px;
  line-height: 1.3;
}
.recipe-card:hover {
  background-color: rgba(0, 0, 0, 0.678);
  border: 9px solid #000;
}



.news-card{
  position: relative;
  margin: 25px 0;
}
.news-card-date{
  min-width: 90px;
  display: inline-block;
  position: absolute;
  left: -90px;
  top: 0px;
  @include abril-maincolor-text;
  font-size: 30px;
  text-align: right;
  letter-spacing: 2px;
  transform: rotate(-90deg);
  transform-origin: 100% 0 0;
}
.news-card-content{
  margin-left: 50px;
  font-weight: 400;
}
.news-card-text{
  color: #999;
  margin-bottom: 15px;
  line-height: 1.2;
  min-height: 90px;
}



.form-card {
  width: 100%;
  background-color: $lightBlockColor;
  padding: 2vw;
  border: 1px solid #e1a95738;
  position: relative;
}
.form-card-title {
  @include abril-maincolor-text;
  color: $mainDarkColor;
  margin: 0 0 1vw;
  font-size: 17px;
  letter-spacing: 2px;
}
.form-card-form {
  @include item-centred;
}
.form-card-row{
  display: flex;
  padding: 10px 0;
  @include play-small-text;
  width: 80%;
  align-items: center;
}
.form-card-label {
  width: 30%;
  padding-right: 15px;
  vertical-align: middle;
}
.form-card-field{
  width: 70%;
  padding-left: 15px;
}
.form-card-label-text {
  letter-spacing: 5px;
  color: #7b7b7b;
  text-align: right;
  line-height: 1.4;
}
.form-card-input {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  border: 3px solid transparent;
  border-radius: 40px;
  background: $mainBGColor;
  padding: 10px 20px;
  color: #a3a3a3;
  letter-spacing: 2px;
}
.form-card-textarea {
  resize: none;
  border-radius: 20px;
  min-height: 90px;
  text-align: left;
  line-height: 1.2;
}
.form-card-input:focus {
  border-color: $mainLightColor;
  outline: none;
}
.form-focus-color {
  color: $mainLightColor;
}
.form-input-invalid {
  border: 3px solid #d02424;
}
.form-card-change-status {
  @include play-small-text;
  font-style: 11px;
  color: $mainLightColor;
  margin-top: 1.5vw;
  letter-spacing: 1px;
}
.form-card-change-link:hover {
  text-decoration: underline;
  color: silver;
}
.form-card .submit-btn .link-btn {
  border: none;
}
.form-card-bg-leaf {
  position: absolute;
  bottom: -14vw;
  right: -8vw;
  z-index: -1;
  transform: rotate(200deg);
}



.contacts-links {
  width: 100%;
  padding: 0 1.56vw;
  height: 270px;
}
.contacts-links a{
  color: $mainLightColor;
}
.contacts-links-item{
  padding: 20px;
  border-bottom: 1px solid #2a2a2a;
  height: 33%;
}
.contacts-links div:nth-last-of-type(1){
  border-bottom: none;
}
.contacts-links-item a{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts-link-image {
  width: 30px;
  display: inline-block;
}
.contacts-link-text {
  display: inline-block;
  font-size: $smallFontsize;
  padding-left: 10px;
  width: fit-content;
  text-align: center;
}
.contacts-link-big-text {
  font-size: 18px;
}






.orders-content-empty {
  color: #8e8e8e;
}
.orders-empty-text {
  margin-bottom: 30px;
  img {
      width: 130px;
      display: inline-block;
      margin-left: 10px;
  }
}
.orders-rectify-text,
.orders-catalog-text {
  font-size: 14px;
}
.orders-catalog-text {
  color: $mainLightColor;
  text-decoration: underline;
}





[data-aos="rotate-l90"] {
  transform: rotate(-30deg);
  transition-property: transform;
  transform-origin: center;
}
[data-aos="rotate-l90"].aos-animate {
  transform: rotate(0deg);
}

[data-aos="appearance"] {
  opacity: 0;
  transition-property: opacity;
}
[data-aos="appearance"].aos-animate {
  opacity: 1;
}
html, body { height: 100%; }
body { margin: 0; }


@media screen and (max-width: $desktop-S) and (min-width: 1024px) {
    
  .contacts-links-item {
    padding: 20px 0;
  }
  .contacts-link-text {
    font-size: 12px;
  }
  
}

@media screen and (max-width: $desktop-S){

  .link-btn {
    padding: 12px 14px;
    font-size: 12px;
  }

}

@media screen and (max-width: $tablet-L) {

  .bread-crumbs-list li.main-crumb {
    font-size: 3.9vw;
    line-height: 1.3;
  }
  .recipe-card-title {
    font-size: 2.8vw;
  }

}


@media screen and (max-width: $mobile-L) {

  body{
    overflow-x: hidden;
  }
  .main-content-block{
    width: 90%;
  }

  .bread-crumbs-list li.main-crumb {
    font-size: 30px;
  }

  .recipe-card-title {
    font-size: 26px;
  }

  .form-card {
    padding: 2vw 8vw 8vw;
  }
  .form-card-title {
    margin: 4vw 0;
    font-size: 20px;
  }
  .form-card-row {
    flex-wrap: wrap;
    width: 100%;
  }
  .form-card-label,
  .form-card-field {
    width: 100%;
  }
  .form-card-label-text {
    text-align: left;
    margin: 2.5vw 0;
  }
  .form-card-field {
    padding-left: 0;
  }
  .form-card-change-status {
    line-height: 1.3;
    margin-top: 6.5vw;
    text-align: center;
  }
  
}


