$mainBGColor: rgb(34, 34, 34);

$mainLightColor: #e1a957;
$mainDarkColor: #896f4b;

$headingDarkColor: #0b0b0b;
$smallFontsize: 14px;

$darkBlockColor: #191919;
$lightBlockColor: #323232;

$desktop-S: 1439px;
$tablet-L: 1023px;
$tablet-M: 849px;
$mobile-L: 767px;
$mobile-M: 530px;
$mobile-S: 440px;


@mixin abril-maincolor-text {
  font-family: 'Abril Fatface','Times New Roman',serif;
  color: $mainLightColor;
  font-weight: 400;
  line-height: 1em;
}

@mixin play-small-text {
  font-family: 'Play', sans-serif;
  font-weight: 400;
  line-height: 1em;
  font-size: $smallFontsize;
}

@mixin bg-center {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin item-centred {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin rotated-item {
  position: absolute;
  transform: rotate(-90deg);
}