@import "../../../fonts.scss";
@import "../../../variables.scss";

.brands-content-block {
    width: 75%;
    margin: auto;
}

.brands-blocks {
    margin-bottom: 5vw;
}
.brand-container {
    width: 100%;
    display: flex;
    position: relative;
    height: 350px;
}
.brand-container.tcherga {
    background-image: url(../../../assets/images/brands-tcherga-bg.jpg);
    @include bg-center;
    background-position: center left;
}
.brand-container.inovino {
    background-color: #FD5E4B;
}
.inovino .brand-image-block {
    background-image: url(../../../assets/images/brands-inovino-bg-rose.jpg);
    @include bg-center;
}
.brand-container.menada {
    background-color: #333333;
}
.menada .brand-image-block {
    background-image: url(../../../assets/images/brands-menada-bg.jpg);
    @include bg-center;
}
.brand-container.artistique {
    background-image: url(../../../assets/images/brands-artistique-bg-white.jpg);
    @include bg-center;
}
.brand-text-block,
.brand-image-block {
    width: 50%;
    position: relative;
    overflow: hidden;
}
.brand-image-block {
    @include item-centred;
}
.brand-text-block {
    padding: 45px 20px;
}
.text-content {
    margin: auto;
    max-width: 250px;
}
.brand-text {
    margin: 1.56vw 0;
    @include play-small-text;
    line-height: 1.2;
    color: #7b7b7b;
}
.inovino .brand-text,
.artistique .brand-text {
    color: #fff;
}
.brand-bottle-image {
    width: 7.7vw;
}
.inovino .link-btn:hover,
.artistique .link-btn:hover {
    color: #000;
    background-color: #fff;
}

.bg-leaf-right {
    position: absolute;
    top: -10%;
    right: -22%;
    width: 300px;
    z-index: -10;
}
.bg-leaf-left {
    position: absolute;
    top: 40%;
    left: -15%;
    width: 300px;
    transform: rotate(270deg);
    z-index: -10;
}


@media screen and (max-width: $desktop-S)  {
    .brand-bottle-image {
        width: 12.7vw;
        max-width: 125px;
    }
}

@media screen and (max-width: $tablet-L)  {

    .brand-text {
        margin: 3.56vw 0;
    }
}

@media screen and (max-width: $mobile-L)  {

    .brands-content-block {
        width: 90%;
    }
    .brand-container {
       flex-wrap: wrap;
       height: fit-content;
       padding: 8vw 8vw 0;
    }
    .brand-text-block,
    .brand-image-block {
        width: 100%;
    }
    .brand-image-block {
        order: 0;
    }
    .brand-text-block {
        order: 1;
        padding: 45px 0;
    }
    .brand-text {
        text-align: center;
    }
    .text-content {
        max-width: 300px;
        @include item-centred;
        flex-direction: column;
    }
    .brand-bottle-image {
        width: 80px;
    }
    .tcherga .brand-bottle-image {
        width: 65px;
    }

}