@import "../../../fonts.scss";
@import "../../../variables.scss";

.brands-content-block {
    width: 75%;
    margin: auto;
}

.brands-blocks {
    margin-bottom: 5vw;
}
.brand-container {
    width: 100%;
    display: flex;
    position: relative;
}
.brand-container.tcherga {
    background-image: url(../../../assets/images/brands-tcherga-bg.jpg);
    @include bg-center;

}
.brand-container.inovino {
    background-image: url(../../../assets/images/brands-inovino-bg-rose.jpg);
    @include bg-center;

}
.brand-container.menada {
    background-image: url(../../../assets/images/brands-menada-bg.jpg);
    @include bg-center;

}
.brand-container.artistique {
    background-image: url(../../../assets/images/brands-artistique-bg-white.jpg);
    @include bg-center;

}
.brand-text-block,
.brand-image-block {
    width: 50%;
    position: relative;
    overflow: hidden;
}
.brand-text-block {
    padding: 45px 20px;
    min-height: 350px;
}
.text-content {
    margin: auto;
    max-width: 250px;
}
.brand-text {
    margin: 1.56vw 0;
    @include play-small-text;
    line-height: 1.2;
    color: #7b7b7b;
}
.inovino .brand-text,
.artistique .brand-text {
    color: #fff;
}
.brand-bottle-image {
    width: 7.7vw;
    min-width: 100px;
    position: absolute;
    top: 18%;
    left: 38%;
}
.artistique .brand-bottle-image {
    width: 9.7vw;
    min-width: 150px;
}
.tcherga .brand-bottle-image {
    top: -2%;
}
.inovino .link-btn:hover,
.artistique .link-btn:hover {
    color: #000;
    background-color: #fff;
}

.bg-leaf-right {
    position: absolute;
    top: -10%;
    right: -22%;
    width: 300px;
    z-index: -10;
}
.bg-leaf-left {
    position: absolute;
    top: 40%;
    left: -15%;
    width: 300px;
    transform: rotate(270deg);
    z-index: -10;
}